.form {
    text-align: center;
}

#uppart {
    padding: 50px;
    margin-bottom: 20px;
    background-color: rgb(144, 201, 250);
}

.signButton {
    margin-left: 82px;
    margin-top: 40px;
}
.register {
    margin-left: 180px;
}
#back-div{
    background-image: url('../images/ChatApp-logos.jpeg');
    height:90%;
    width:60%;
    background-size: 90%;
    padding-top: 3%;
    position:absolute;
}